body {
    background-color: darkcyan;
}

.title {
    font-family: "Lucida Console", "Courier New", Monospace;
    color: whitesmoke;
    text-align: center;
    scale: 2;
    line-gap-override: 5px;
}

.title h1 {
    padding-top: 55px;
}

.continue {
    flex-direction: column;
    justify-content: center;
}

.continue button {
    
    scale: 2;
    color: #333;
    padding-left: 35px;
    padding-right: 35px;
    
    fill: whitesmoke;
}